<!DOCTYPE html>
<html lang="en" ng-app="kooskolastamine">
<head>
  <!-- <link rel="import" href="bower_components/firebase-element/firebase-element.html"> -->
  <!-- <link rel="import" href=""> -->
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title ng-bind="'Kooskõlastamine - ' + title">Kooskõlastamine</title>
  <link rel="shortcut icon" type="image/gif" href="favicon.png">

  <!-- <link rel="stylesheet" href="icomoon/style.css"> -->

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="style.css">


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body ng-controller="MainCtrl">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Kooskõlastamine</a>
      </div>
      <div id="navbar" class="navbar-collapse bs-js-navbar-collapse" collapse="isCollapsed">
        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('/')}" ng-click="isCollapsed = true"><a href="/">Esileht</a></li>
          <li ng-class="{ active: isActive('/application')}" ng-click="isCollapsed = true"><a href="/application">Esitamine</a></li>
          <li ng-class="{ active: isActive('/acceptance')}" ng-click="isCollapsed = true"><a href="/acceptance">Vastuvõtmine</a></li>
          <li ng-class="{ active: isActive('/admin')}" ng-click="isCollapsed = true"><a href="/admin">Admin</a></li>
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right" ng-controller="AuthCtrl">
          <li>
            <form ng-hide="authObj.$getAuth().uid" ng-submit="loginWithEmail(email, password)">
              <input type="email" ng-model="email" placeholder="Email">
              <input type="password" ng-model="password" placeholder="Password">
              <button type="submit">Login</button>
            </form>
            <p ng-show="authObj.$getAuth().uid">
              <button type="button" ng-click="logout()">Logout</button>
            </p>
          </li>
        </ul> -->
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="alert-container" ng-controller="AlertCtrl">
    <div class="container">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
  </div>

  <div class="content">
    <div class="container" ng-view>
    </div>
  </div><!-- /.container -->

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
  <script src="//cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
  <script src="//cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>  
  <script src="angular-file-upload.min.js"></script>

  <script src="main.js"></script>
</body>
</html>