html{min-height:100%;position:relative}body{background-color:#fff;color:#000;margin-bottom:60px;padding-bottom:40px}body input,body textarea,body button{color:#111}body label{display:block}.alert-container{margin-top:50px;margin-bottom:0px;position:relative;width:100%;z-index:1}.content>.container{height:100%;margin-top:0px}
