<div class="row" ng-repeat="object in objects | orderBy : 'date'">
  <div class="col-sm-4">
    <h4>Objekt:</h4>
    <h3>{{object.title}}</h3>
    {{object.date | date : "yyyy'-'MM'-'dd' 'hh':'mm':'ss"}}<br />
    {{object.description}}<br />
  </div>
  <div class="col-sm-4">
    <h4>Nõuded, mida kookõlastada:</h4>
    <label ng-repeat="(key, value) in object.requirements">
      <a href="#" class="pull-right" ng-click="openModal(requirements.$getRecord(key).description)">Kirjeldus</a>
      <input type="checkbox" ng-model="value.accepted" ng-checked="value.accepted">{{requirements.$getRecord(key).title}}
      <input type="text" ng-model="value.comment" />
    </label>
    <button ng-click="objects.$save(object)">Salvesta</button>
  </div>
  <div class="col-sm-4">
    <h4>Dokumendid:</h4>
    <label ng-repeat="(key, value) in object.documents">
      <a target="_blank" href="{{value.url}}">{{value.title}}</a> | <a target="_blank" href="http://docs.google.com/viewer?url={{value.url}}">Ava Google Vaatajaga</a>
    </label>
  </div>
  <hr class="col-sm-12"></hr>
</div>