<div class="row">
  <article class="col-sm-12">
    <h1>{{ title }}</h1>
  </article>
  <article class="col-sm-12">
    <h2>Nõuded</h2>
    <div ng-repeat="requirement in requirements">
      <input ng-model="requirement.title" ng-change="requirements.$save(requirement)" />
      <input ng-model="requirement.description" ng-change="requirements.$save(requirement)" />
      <button ng-click="requirements.$remove(requirement)">X</button>
    </div>
    <!-- push a new requirement into the array -->
    <form class="col-sm-4" ng-submit="addRequirement(newRequirementTitle, newRequirementDescription)">
      <input ng-model="newRequirementTitle" placeholder="Nõue" /><br />
      <input ng-model="newRequirementDescription" placeholder="Kirjeldus"><br />
      <button type="submit">Lisa nõue</button>
    </form>
  </article>
</div>