<div class="row" ng-repeat="object in objects | orderBy : 'date'">
  <div class="col-sm-4">
    <h3>{{object.title}}</h3>
    <pre>{{object.date | date : "yyyy'-'MM'-'dd' 'hh':'mm':'ss"}}</pre>
    <p>{{object.description}}</p>
  </div>
  <div class="col-sm-4">
    <h4>Nõuded:</h4>
    <label ng-repeat="(key, value) in object.requirements">
      <a href="#" class="pull-right" ng-click="openModal(requirements.$getRecord(key).description)">Kirjeldus</a>
      <input type="checkbox" ng-model="value.accepted" disabled ng-checked="value.accepted">{{requirements.$getRecord(key).title}}
      <p>{{value.comment}}</p>
    </label>
  </div>
  <div class="col-sm-4">
    <button ng-click="objects.$remove(object)" class="pull-right">X</button>
    <h4>Dokumendid:</h4>
    <label ng-repeat="(key, value) in object.documents">
      <a target="_blank" href="{{value.url}}">{{value.title}}</a> | <a target="_blank" href="http://docs.google.com/viewer?url={{value.url}}">Ava Google Vaatajaga</a>
    </label>
  </div>
  <hr class="col-sm-12"></hr>
</div>
<!-- push a new object into the array -->
<form class="row" name="newObjectForm" ng-submit="addObject(newObjectTitle, newObjectDescription)">
  <div class="col-sm-4">
    <h3>Lisa uus objekt</h3>
    <input ng-model="newObjectTitle" placeholder="Pealkiri" /><br />
    <textarea ng-model="newObjectDescription" placeholder="Kirjeldus"></textarea><br />
  </div>
  <div class="col-sm-4">
    <h4>Vali nõuded, mida kookõlastada:</h4>
    <label ng-repeat="(key, value) in requirements">
      <a href="#" class="pull-right" ng-click="openModal(value.description)">Kirjeldus</a>
      <input type="checkbox" ng-model="value.checked" /> {{value.title}} 
    </label>
  </div>
  <div class="col-sm-4">
    <h4>Lisa dokumendid:</h4>
    <input type="file" nv-file-select="" uploader="uploader" multiple /><br/>
    <table class="table">
      <thead>
        <tr>
          <th width="50%">Nimi</th>
          <th ng-show="uploader.isHTML5">Suurus</th>
          <th ng-show="uploader.isHTML5">Progress</th>
          <th>Staatus</th>
          <th>Tegevused</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in uploader.queue">
          <td><strong>{{ item.file.name }}</strong></td>
          <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
          <td ng-show="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
              <span class="glyphicon glyphicon-upload"></span> Lae üles
            </button>
            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Peata
            </button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Eemalda
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        Järjekorra progress:
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Lae kõik üles
      </button>
      <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Peata kõik
      </button>
      <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Eemalda kõik
      </button>
    </div>
  </div>
  <div class="col-sm-12 text-center">
    <button type="submit" class="btn-lg btn-primary">Avalda objekt kooskõlastamiseks</button>
  </div>
</form>