<div class="row">
  <div class="col-sm-12">
    <canvas id="myBarChart" width="600" height="400"></canvas>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <button type="button" ng-click="sort = 'height'; reverse = !reverse; createChart()">Sort by height</button>
    <button type="button" ng-click="sort = 'name'; reverse = !reverse; createChart()">Sort by name</button>
  </div>
  <article class="col-sm-12" ng-repeat="person in people | orderBy : sort : reverse">
    <!-- edit a person -->
    <input ng-model="person.name" ng-change="people.$save(person)" />
    <input type="number" ng-model="person.height" ng-change="people.$save(person)" />
    <button ng-click="people.$remove(person)">X</button><br />
  </article>
  <!-- push a new person into the array -->
  <form class="col-sm-12" ng-submit="addPerson(newpersonName, newpersonHeight)">
    <input ng-model="newpersonName" placeholder="Name" />
    <input type="number" ng-model="newpersonHeight" placeholder="Height"><br />
    <button type="submit">add person</button>
  </form>
</div>