<div class="row">
  <article class="col-sm-12">
    <h1>Kooskõlastamise rakendus</h1>
    <p>Kooskõlastamine on paljude menetluste osa. Siin on peetud silmas peamiselt avalikku sektorit, kuid kooskõlastamine kui menetlussamm on töövoogude ja juhtimise element loomulikult ka erasektoris.</p>

    <h4>Kooskõlastamise olemus ja põhilised sammud:</h4>
    <ul>
      <li>kooskõlastamisele esitaja</li>
      <li>kooskõlastaja</li>
      <li>kooskõlastamise objekt ehk asi</li>
      <li>kooskõlastamisele esitatav dokumentatsioon</li>
      <li>kooskõlastamise otsus (kooskõlastatud või mitte kooskõlastatud)</li>
      <li>kooskõlastamise nõuded (nõuded, mille täidetust kooskõlastaja kontrollib).</li>
    </ul>
      
    <h4>Prototüüp pakub järgmist funktsionaalsust:</h4>
    <ul>
      <li>asjade esitamine kooskõlastamisele</li>
      <li>kooskõlastamine kindla nõuete loetelu vastu</li>
      <li>kooskõlastusotsuse tegemine ja avaldamine</li>
    </ul>

    <p><s>Kooskõlastajaid on mitu, kõik nad teevad otsuse iseseisvalt.</s></p>
    <h4>Süsteemist on näha:</h4>
    <ul>
      <li>millised asjad on esitatud kooskõlastamisele <s>ja kelle poolt</s></li>
      <li>kas asjad on juba kooskõlastatud või alles töös</li>
      <li><s>milline oli kooskõlastamise otsus (kõigi kooskõlastajate lõikes)</s></li>
      <li>millised nõudeid "feilisid" ja millised olid täidetud.</li>
    </ul>

    <p>Kuna see oli päris suur ports funktsionaalsust, siis me ei jõudnud seda tervikuna realiseerida, eriti kasutajate autentimise ja õiguste halduse osas. Aga prototüüp on olemas.</p>

    <h3>Kasutatud tehnoloogiad:</h3>
    <ul>
      <li><a target="_blank" href="https://angularjs.org/">AngularJS</a> - front-end raamistik</li>
      <li><a target="_blank" href="https://firebase.com/">Firebase</a> - back-end NoSQL andmebaas + API</li>
      <li><a target="_blank" href="https://www.firebase.com/docs/web/libraries/angular/api.html">AngularFire</a> - Firebase'i liides AngularJS'i jaoks</li>
      <li><a target="_blank" href="http://angular-ui.github.io/bootstrap/">UI Bootstrap</a> - Bootstrap kujundus AngularJS'i jaoks</li>
      <li><a target="_blank" href="https://github.com/nervgh/angular-file-upload">Angular File Upload</a> - moodul failide üleslaadimiseks AngularJS'i jaoks</li>
      <li><a target="_blank" href="http://coffeescript.org/">CoffeeScript</a> - keel, mis kompileeritakse JavaScriptiks</li>
      <li><a target="_blank" href="http://sass-lang.com/">Sass</a> - CSS laiendus, mis kompileeritakse CSS-ks</li>
      <li><a target="_blank" href="http://bitbucket.org/">BitBucket</a> - git versioonihalduse repositoorium</li>
    </ul>

    <h3>Meeskond:</h3>
    <ul>
      <li>Ragnar Säde</li>
      <li>Kert Sepp</li>
      <li>Ivo Vaabel</li>
      <li>Siim Karoman</li>
    </ul>

    <h3>Repositoorium</h3>
    <ul>
      <li><a target="_blank" href="https://bitbucket.org/kerts93/koosk-lastamine">"Kooskõlastamine" (BitBucket)</a></li>
    </ul>
  </article>
</div>