<div class="modal-header">
  <h3 class="modal-title">Nõude kirjeldus</h3>
</div>
<div class="modal-body">
  {{items}}
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>